#Ignore mac hidden file
.DS_Store
#Ignore vs_code
.vscode
# Ignore quilt cache directory
.pc/
# Ignore vagrant files
.vagrant
vagrant-data
# Ignore coverage data
cover_db
# Ignore unibuild files 
unibuild-log
unibuild-work/
unibuild-repo/
psconfig/perfsonar-psconfig/INSTALLED_FILES
psconfig/perfsonar-psconfig/psconfig/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/psconfig/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/pscheduler/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/address_classes/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/address_classes/data_sources/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/address_classes/filters/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/address_selectors/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/addresses/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/groups/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/parsers/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/translators/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/psconfig/translators/mesh_config/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/client/tests/__pycache__
psconfig/perfsonar-psconfig/psconfig/lib/shared/utilities/__pycache__
