#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# Standard make install not needed
override_dh_auto_install:

override_dh_auto_build:

override_dh_auto_test:

override_dh_install:
	make PYTHON-ROOTPATH=. PERFSONAR-CONFIGPATH=etc/perfsonar/psconfig PERFSONAR-ROOTPATH=usr/lib/perfsonar/psconfig PERFSONAR-DATAPATH=var/lib/perfsonar/psconfig BINPATH=usr/bin install
	dh_install