#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with systemd

# Standard make install not needed
override_dh_auto_install:

override_dh_auto_build:

# Skip tests linking to the perl-shared package
override_dh_auto_test:

override_dh_install:
	make PYTHON-ROOTPATH=. PERFSONAR-CONFIGPATH=etc/perfsonar/psconfig PERFSONAR-ROOTPATH=usr/lib/perfsonar/psconfig PERFSONAR-DATAPATH=var/lib/perfsonar/psconfig install
	dh_install