Source: libmo-perl
Section: perl
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Lætitia Delvaux <adelvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10), libmoose-perl, libmouse-perl
Build-Depends-Indep: perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/dist/IPC-DirQueue

Package: libmo-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Micro Objects. Mo is less.
 Moose is huge. Moose led to Mouse led to Moo led to Mo. M is nothing. Mo is more. Not much.
.
 When Moo is more than you need, drop an 'o' and get some Mo.
