Depends: perfsonar-psconfig-utils
Tests: psconfig-utils

Depends: perfsonar-psconfig-pscheduler
Tests: psconfig-pscheduler-agent
Restrictions: needs-root

Depends: perfsonar-psconfig-maddash
Tests: psconfig-maddash-agent
Restrictions: needs-root
