Depends: perfsonar-psconfig-utils
Tests: utils

Depends: perfsonar-psconfig-pscheduler
Tests: pscheduler
Restrictions: needs-root

Depends: perfsonar-psconfig-maddash
Tests: maddash
Restrictions: needs-root

Depends: perfsonar-psconfig-publisher
Tests: publisher
Restrictions: needs-root
