[Unit]
Description=perfSONAR MeshConfig Agent
After=network.target

[Service]
Type=forking
PIDFile=/var/run/perfsonar-meshconfig-agent.pid
ExecStart=/usr/lib/perfsonar/bin/perfsonar_meshconfig_agent --config=/etc/perfsonar/meshconfig-agent.conf --logger=/etc/perfsonar/meshconfig-agent-logger.conf --pidfile=/var/run/perfsonar-meshconfig-agent.pid --user=perfsonar --group=perfsonar

[Install]
WantedBy=multi-user.target

