[Unit]
Description=pSConfig PScheduler Agent
After=network.target  pscheduler-scheduler.service pscheduler-archiver.service pscheduler-ticker.service pscheduler-runner.service

[Service]
Type=forking
PIDFile=/var/run/psconfig-pscheduler-agent.pid
ExecStart=/usr/lib/perfsonar/bin/psconfig_pscheduler_agent --config=/etc/perfsonar/psconfig/pscheduler-agent.json --logger=/etc/perfsonar/psconfig/pscheduler-agent-logger.conf --pidfile=/var/run/psconfig-pscheduler-agent.pid --user=perfsonar --group=perfsonar

[Install]
WantedBy=multi-user.target

